.menu {
  position: absolute;
  box-sizing: border-box;
  width: 98%;
  border: 1px solid #cccccc;
  height: 250px;
  overflow: scroll;
  overflow-x: hidden;
  background-color: white;
  z-index: 2;
}

.item {
  padding: 2px 6px;
  cursor: default;
}

.item-highlighted {
  color: white;
  background-color: #4095bf;
}

.item-header {
  background-color: #eeeeee;
  color: #454545;
  font-weight: bold;
}

.auth {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 200px;
  margin: 25px 0 0 30px;
  border: 1px solid black;
  border-radius: 8px;
}

.auth > span {
  padding: 7px;
}

.auth > a {
  margin-top: 10px;
  padding: 0 0 7px 7px;
}

i {
  padding-right: 10px;
}

.select-input {
  margin: 20px 0 0 30px;
  width: 300px;
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
}

.select-input > span {
  padding: 6px;
}

.select-input > div {
  width: 100%;
  padding: 6px;
}

#states-autocomplete {
  width: 100%;
  border: none;
}

#states-autocomplete:focus {
  outline: none;
}

.fa-caret-down {
  position: absolute;
  margin: -1px 0 0 273px;
  font-size: 30px;
  pointer-events: none;
}


table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 75px auto 0 30px;
  position: relative;
  z-index: 1;
}

td,tr,th {
  height: 21px;
  font-size: 19px;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid black;
}

thead th {
  min-width: 100px;
}

a {
  text-decoration: none;
  color: #111111;
}

a:visited {
  color: #111111;
}

